<div class="w-50">
  <div class="row">
    <h3>Create an Account</h3>

    <form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
      <app-input
            label="Username"
            inputType="text"
            [control]="authForm.get('username')">
      </app-input>

      <app-input
            label="Password"
            inputType="password"
            [control]="authForm.get('password')" >
      </app-input>


      <app-input
            label="Password Confirmation"
            inputType="password"
            [control]="authForm.get('passwordConfirmation')" >
      </app-input>


      <div
      *ngIf="
        authForm.get('password').touched &&
        authForm.get('passwordConfirmation').touched &&
        authForm.errors
      "
      class="ui red basic label"
    >
      <p *ngIf="authForm.errors.passwordsDontMatch">
        Password and Password Confirmation must match
      </p>

      <p *ngIf="authForm.errors.noConnection">
        Please check your internet connection
      </p>
    </div>




      <hr/>
      <div>
        <button class="ui submit button primary">
          Submit
        </button>
        <button class="ui submit button warning">
          Reset
        </button>
      </div>


      <pre>{{ authForm.value | json }}</pre>
    </form>
  </div>
